[2011-02-25 06:57] soneoed opened #1 "Test"
This is a test issue.

[2011-02-25 06:57] soneoed opened #2 "This is another test issue"
asdgasdfa

[2011-02-25 06:58] soneoed commented on #1
This is a comment

[2011-02-25 06:58] #1 closed, assigned to nobody

[2011-02-25 06:58] #2 closed, assigned to nobody

[2011-03-01 23:58] StevenNicklin opened #3 "Untitled"

[2011-03-01 23:59] #3 closed, assigned to nobody

[2011-04-19 05:11] WongAaronSW opened #4 "Camera Settings not setting properly"
Some times camera settings are not set properly

[2013-03-14 10:45] mmetcalfe opened #5 "We're not using Git Issues (at all)"
Using this issue system seems fairly worthwhile.  It could help keep track of important things that more than just one or two team members need to know about, + seems more efficient/reliable than leaving post-it-notes on things / the lab's blackboard / facebook (although they all have their uses).

Any thoughts?

[2013-03-14 21:52] shannonfenn commented on #5
I'm for it.

On 14/03/2013 9:45 PM, Mitchell wrote:

[2013-03-14 22:37] ghost commented on #5
Check out Atlassian JIRA. Really awesome browser interface, and free for open source projects.

[2013-03-14 22:37] ghost commented on #5
http://www.atlassian.com/software/jira/pricing/?tab=download

[2013-03-14 23:55] WongAaronSW commented on #5
Github functions:
- Blame function. Use public shame to drive productivity
- To-do lists.
- wiki

Sent from my HTC

----- Reply message -----
From: "jedro" notifications@github.com
To: "nubots/robocup" robocup@noreply.github.com
Subject: [robocup] We&apos;re not using Git Issues (at all) (#5)
Date: Fri, Mar 15, 2013 9:38 AM

Check out Atlassian JIRA. Really awesome browser interface, and free for

[2013-03-15 13:08] BrendanAnnable opened #6 "CPU clock slows when on battery."
As discovered today, the CPU/Ubuntu slows itself when taken off mains power (presumably to save battery power). It caused a very effect on the number of frames received by NUbugger per second (~25-30 to 3-6).

This needs to be further investigated into regarding how to disable it and how long the robot can last on full speed.

[2013-03-15 13:13] BrendanAnnable opened #7 "OS + VM needs updating"
Being well behind the latest, I'm sure everyone would love these to be updated to a recent OS just so we can use package managers.

Current candidate is Xubuntu. I think Gentoo was also suggested.

If anyone else has a suggestion, please say!

Upgrade strategy:
- backup the VM
- install a new VM using Xubuntu and get compiling working
- backup the robot (create a disk image)
- install a new OS on

[2013-03-15 13:18] BrendanAnnable commented on #5
Added some milestones and issues!

[2013-03-15 22:11] josiahw commented on #7
realistically, we should use a non-ubuntu OS. Team Darwin uses arch, but a basic debian (so we could access ubuntu repositories) would also work. We really want as few system processes as possible other than basic X11 and wifi connectivity,

[2013-03-16 00:07] StevenNicklin commented on #7
I still have a image of Linux Mint for the Darwin that I got from the Robotis guy at RoboCup if you're interested in that.

[2013-03-16 00:20] mmetcalfe commented on #7
I like the sound of Xubuntu from a productivity/ease of use standpoint (more similar to what people use/are used to, + more modern = better).
Couldn't we just kill unnecessary processes before a game?

(that said, anything modern enough to remove the need to compile from a VM would make development considerably faster/easier)

[2013-03-17 09:26] ghost commented on #7
C++ is platform dependent which is why I think we need the VM. I second the Xubuntu idea for ease of use, but Josiah raises a good point with it having too many unnecessary things running.

[2013-03-17 09:32] ghost commented on #6
Someone needs to go through the firmware and sort it out, there are a few issues. I believe I was assigned to do it at some point, but I'm not sure when or how. :S

[2013-03-17 09:59] josiahw commented on #6
This is actually one of the easier issues to fix on Ubuntu. Someone needs to just plug the robots into a monitor and go the the power saving control panel to set it to maximum performance on battery. :-)

Sent from my iPad

On 17/03/2013, at 8:32 PM, Blocks50 notifications@github.com wrote:

[2013-03-17 13:34] BrendanAnnable commented on #6
I would if I could find my damn HDMI cable >_>

On Sun, Mar 17, 2013 at 8:59 PM, josiahw notifications@github.com wrote:

[2013-03-19 00:28] TrentHouliston commented on #7
Lubuntu might be ok... it is supposed to be a lightweight ubuntu after all http://lubuntu.net/

Or better yet install the command line system version from the alternate CD of Ubuntu, that installs nothing other then the bare OS, then you could add on other packages on demand

[2013-03-19 00:41] TrentHouliston commented on #7
Even better... https://help.ubuntu.com/community/Installation/MinimalCD

[2013-03-19 00:55] josiahw commented on #7
we have no cd drive :D

On Tue, Mar 19, 2013 at 11:41 AM, Trent Houliston
notifications@github.comwrote:

[2013-03-19 01:02] TrentHouliston commented on #7
thats what USB is for! :P

I just installed it, this is a list of packages the CLI version installs for 12.10
http://pastebin.com/ChNDw4D1

[2013-03-19 10:57] mmetcalfe opened #8 "The Config System isn't documented"
There should be a wiki page for the ConfigSystem that outlines how to use it / how it should be used.

[2013-03-19 12:27] BrendanAnnable opened #9 "Vision not taking into account head pitch/yaw"
You can test this by going into zombie mode and moving the head and watch the localisation of the ball move on NUbugger/NUview.

Very important for this to be fixed before RoboCup!

[2013-03-20 08:31] BrendanAnnable opened #10 "isObjectVisible returns false on yellow goal posts even though they are visible"
The ambiguousFieldObjects vector in FieldObjects is emptied on every frame, so all objects added are in fact visible. However the method isObjectVisible() on some field objects (such as yellow goal posts) still returns false.

[2013-03-20 09:07] #5 closed, assigned to nobody

[2013-03-20 09:10] mmetcalfe opened #11 "Robot 1 doesn't load OS"
Could not SSH into the robot.
Connected a monitor via the HDMI port to see what was happening.
Was presented with the GRUB rescue prompt:

GRUB loading.
error: out of partition
grub rescue>

[2013-03-20 11:15] BrendanAnnable commented on #11
This happened after receiving a read-only file system error and then not loading after the reboot.

No idea what the cause was.

[2013-03-20 11:25] josiahw commented on #11
I have a feeling this was linked to the screw smashing into the motherboard after it came back from repair. We should try re-imaging the os. Maybe even use it to test a new distro. If that fails, we send it to Peter.

Sent from my iPad

On 20/03/2013, at 10:15 PM, Brendan Annable notifications@github.com wrote:

[2013-03-21 02:49] josiahw commented on #7
OK, let's try 12.04 LTS from: https://help.ubuntu.com/community/Installation/MinimalCD

[2013-03-22 11:35] mmetcalfe opened #12 "Robot #4 - Motor Issues"
Motors id#1 (R_SHOULDER_PITCH) and id#11 (R_HIP_PITCH) of robot No.4 aren't working.
They're not stuck + i can move them around fine, but they return errors and dxl_monitor fails to connect to them:

[code]
#### Things I tried:
- recompiled the darwin.a library on the robot (with debugprinting turned on in CM730.cpp):
  - showed that motors 1 and 11 were returning RX_TIMEOUT
- using fimrware_insta

[2013-03-22 12:56] josiahw commented on #12
Are 111 and 112 the foot sensor codes? If not, I would say motors 1 and 11
have reset their IDs, and will need the numbers changed. I expected this
with 11 as it's a new motor with no joint ID assigned.

On Fri, Mar 22, 2013 at 10:35 PM, Mitchell notifications@github.com wrote:

[2013-03-22 13:34] BrendanAnnable commented on #7
Started installing 12.04 LTS on darwin1 today, had some issues where the install would install grub onto the USB drive I was installing from... I'll try again next week!

[2013-03-23 07:48] BrendanAnnable commented on #11
Using it as a test robot for a new OS - see #7

[2013-03-24 06:15] BrendanAnnable commented on #7
Got the code compiliing on a VM with GCC 4.6, how did you end up installing GCC 4.7 on Ubuntu 12.04 @Hamish256?

[2013-03-24 06:23] josiahw commented on #7
http://askubuntu.com/questions/271388/how-to-install-gcc-4-8-in-ubuntu-12-04-from-the-terminalseems
easy enough?

On Sun, Mar 24, 2013 at 5:15 PM, Brendan Annable
notifications@github.comwrote:

[2013-03-24 07:03] BrendanAnnable commented on #7
Tempted just to install 12.10 if we are going to use test toolchains?

I'll be making an install script anyway.

[2013-03-24 07:29] mmetcalfe commented on #7
I use 12.10, so i just installed GCC with something like:
    $ apt-get install gcc-4.7-base

[2013-03-24 07:32] BrendanAnnable commented on #7
12.10 comes with GCC 4.7 for me, unless anyone objects I'll be using it as I know the software FYP guys use nearly all of the C++ 11 features for their new architecture.

Probably also has newer versions of the libraries I'm using too.

[2013-03-24 07:43] mmetcalfe commented on #7
Just so you know: I've been working on the CM730Errors branch, and made a few changes to the way the darwin.a library is handled.
- The Darwin's framework folder is in the git repository under '/Framework/darwin'
- There's two new build targets in the main make file to build and clean the framework
- The script that sends 'nubotbin' to the darwin has been modified to also send 'darwin.a' and a 'da

[2013-03-24 07:50] shannonfenn commented on #7
Damn, I've intentionally not been using those features due to our old as
hell OS.

On 24/03/2013 6:32 PM, Brendan Annable wrote:

[2013-03-24 07:53] shannonfenn commented on #7
Sounds like an excellent solution, as long as it has been tested I'm
personally happy for it to go up to the mainline, but I'll leave the
final decision to Jo (as all major ones should be).

Is the new build target for the framework code a dependency of the
makeDarwin target?

On 24/03/2013 6:43 PM, Mitchell wrote:

[2013-03-24 07:57] mmetcalfe commented on #7
Currently it's not, because changes to the framework are fairly rare, but it could be made so.
A clean build of darwin.a doesn't take very long anyway, so adding it to the makeDarwin target couldn't really hurt.

[2013-03-24 08:12] shannonfenn commented on #7
Probably good, otherwise someone unaware could get a clean robot without
darwin.a in the correct location for darwinNUbotStart - unlikely and
easy to solve but potentially a bit of a nightmare for a new student.

On 24/03/2013 6:57 PM, Mitchell wrote:

[2013-03-24 08:12] BrendanAnnable commented on #7
Spoke with the software guys, they're apparently using 12.04 and recommend I also do so. I've got gcc 4.7 working on it as well so I'm sticking with 12.04.

@Hamish256  sounds amazing! and yeah I'd make a new issue just for that feature :)

[2013-03-25 00:52] shannonfenn commented on #12
Fixed, for some reason motor 1 had reverted to baud rate 34 and motor 11 had never been configured and as such was also ID1 baud rate 34. The dxl_monitor obviously only scans at baud rate 1.

[2013-03-25 00:52] #12 closed, assigned to nobody

[2013-03-25 02:41] shannonfenn commented on #9
Fixed - the original fix failed due to a typo and a sign error.

[2013-03-25 02:41] #9 closed, assigned to shannonfenn

[2013-03-25 02:49] shannonfenn opened #13 "Ground transforms in vision are too noisy."
Probable cause is a combination of lens distortion and sensor/image mismatch.

This needs to be fixed for lines to work.

[2013-03-25 02:50] shannonfenn opened #14 "Our error output should be given audibly by the robot."
Jo tells me the main ubuntu speech synthesisers are espeak and festival.

[2013-03-26 07:46] BrendanAnnable commented on #7
Is anyone aware if software is needed for the low-battery warning alarm?

[2013-03-27 09:32] BrendanAnnable commented on #11
99.99% sure this robot has hardware issues.

Attempted to load Ubuntu in a variety of ways (alternate, minimal, server, etc).

Received many booting/partition/IO errors. I ran a diagnostic utility which found 4000 bad sectors and swapped them out, which I hoped would fix it. Unfortunately it didn't and continued to have problems when installing Ubuntu. Found another 4000 bad sectors today and seem

[2013-04-10 16:41] BrendanAnnable opened #15 "Turning the nubots account into an organisation"
I just noticed the nubots account is actually just a normal account.

I suggest turning it into an organisation! That way we can have administrative rights and teams and all things that are good.

It allows us to manage admins and give (or take) specific permissions out to other users, rather than all logging in under the nubots account and making changes there.

There is a button that turns it in

[2013-04-15 11:46] BrendanAnnable commented on #15
@josiahw

[2013-04-15 12:28] josiahw commented on #15
hmm... Maybe. I'll let you know.

On Mon, Apr 15, 2013 at 9:46 PM, Brendan Annable
notifications@github.comwrote:

[2013-04-15 15:54] BrendanAnnable commented on #11
Motherboard has been switched and a Ubuntu install booted first go!

Still needs setting up, but that is issue #7

[2013-04-15 15:54] #11 closed, assigned to nobody

[2013-05-06 10:14] Jade-Fountain opened #16 "New kick engine not working"

[2013-05-06 10:49] josiahw opened #17 "Do Walk Learning"
We need to do walk learning on the robots to stop them from falling over.

[2013-05-06 10:52] josiahw opened #18 "Change localisation head pans to include more view above the horizon"
we need to see more above the horizon for both our visual compass and our goal detection. This needs motion/NUHead.cpp to be updated.

[2013-05-06 10:52] josiahw opened #19 "Update OS on all nubots"
upgrade the OS on all nubots before we leave.

[2013-05-06 10:54] josiahw opened #20 "Fix Motor Communications"
Fix delay and data corruption issues with motor communication, and give informative errors when something is wrong.

[2013-05-06 10:55] josiahw opened #21 "Set Auto White Balance/Auto Adjust"
fix the issue with our cameras not adjusting/balancing properly. Make the image not change!

[2013-05-06 10:57] josiahw opened #22 "Get localisation and Vision working together"
This may be related to fixing the head pan job too.

[2013-05-06 10:59] josiahw opened #23 "Update behaviour"
Our robots were really dumb last year. We need at least better lost and team coordination behaviour. This probably depends on vision/localisation.

[2013-05-06 12:59] shannonfenn opened #24 "Fix goal detection problem."

[2013-05-09 10:46] mmetcalfe opened #25 "Catch camera connection issues in DarwinCamera not in Vision-GreenHorizonCH"
When the camera is broken, disconnected or otherwise inaccessible we get the following error in Vision.

[code]

 The DarwinCamera class needs to more correctly detect these faults and give useful warning messages instead of allowing Vision to receive unallocated pointers.

Important to fix, but not urgent for RC2013 as most members currently know the root cause of the issue, and it doesn't occur

[2013-05-09 14:43] shannonfenn commented on #10
Is this the isObjectVisible being called on the ambiguous objects themselves or the static version?

[2013-05-09 23:18] WongAaronSW commented on #25
This occurs from the reason being that the Green Horizon calculation is the first function to use the image. When the SEGFAULT error occurs, usually its to do with accessing invalid memory space. From my previous experience, usually you get a NULL pointer when the device has failed the transfer.
Solution: Would have to catch this inside the NUbot\SeeThinkThread.cpp and throw an exception or a new

[2013-05-10 00:47] shannonfenn commented on #25
I tried adding code to Vision to check for a null image as soon as it was retrieved from the blackboard and that didn't solve the problem, since the image pointer was non null but pointing to invalid memory (at that particular time). Either way a closer look at the DarwinCamera class is needed, which Madison is already doing, since it seems to me that the responsibility of detecting and generating

[2013-05-13 08:51] Jade-Fountain opened #26 "Fix camera issues of Robot 3"
Camera needs a new cable.

[2013-05-13 08:55] Jade-Fountain opened #27 "Fix camera issue of Robot 4"
Occasionally (always?) has green horizon segfault (i.e. camera not connected). Probably needs a new camera.

[2013-05-14 03:37] madisonkeene opened #28 "Same coloured goals issue"
ensure we can localise properly with two sets of same coloured goals

[2013-05-14 06:08] josiahw commented on #20
Hi Mitch,

Please close this when you commit, I know you're close to finishing :-)

[2013-05-14 06:25] josiahw commented on #26
Cable installed

[2013-05-14 06:25] #26 closed, assigned to josiahw

[2013-05-14 06:45] josiahw commented on #27
Camera board replaced. Brendan you can now test code on #3 with the new OS.

[2013-05-14 06:45] #27 closed, assigned to josiahw

[2013-05-15 13:53] mmetcalfe commented on #20
Implemented some reasonable error reporting for sensor read failures.
The CM730Errors branch (containing the motor communications work) has been merged into develop, and the code has been tested there (I'll delete the CM730Errors branch soon).

[2013-05-15 13:53] #20 closed, assigned to mmetcalfe

[2013-05-16 02:48] BrendanAnnable commented on #7
Turns out low-battery warning alarm is built-in, did not need to be installed.

I'm closing this issue as all that is left is to update the robots with the new OS which is issue #19

[2013-05-16 02:48] #7 closed, assigned to BrendanAnnable

[2013-05-16 23:15] mmetcalfe commented on #16
Was looking at this last night.
Rather than the time variables + interpolation causing issues (tb, te, t), it turns out that 'length' was incorrect. KickPlayer's getLength method is returning something like 7e+33.
I think there's a problem with the loading of the phases (before WalkingEngineKick::init is called).

(although WalkingEngineKick::init is called by KickPlayer::init, which is called by

[2013-05-17 07:12] Jade-Fountain commented on #16
I had a quick look and discovered that in the config files two parameters were commented out (using '#'), so I uncommented them. I can't quite see what is going wrong with the length though.

[2013-05-20 05:55] mmetcalfe commented on #8
Made a wiki page describing most Config System operations.
Shall attempt to finish the page and close this issue soon.

[2013-05-20 06:00] mmetcalfe opened #29 "Implement additional validation for the Config System"
The Config System is missing a number of validation checks.
Until these (and probably others) are implemented, it will be possible for users to corrupt the robot's configuration state just by calling the Config System's interface methods.

Missing checks include:
- Creating parameters that aren't leaf nodes of the tree,
- Creating parameters whose paths contain the names of existing parameters.
-

[2013-05-20 06:06] mmetcalfe opened #30 "Extend the Config System to allow users to control how configurations are stored"
The Config System currently stores configurations on disk in a single colossal file.
This means that saving the current configuration to disk takes a long time - no matter how few parameters have actually changed.

A planned extension to the Config System is to allow users to choose entire branches of the tree that should be stored in their own file.

This would allow faster saving (and potentiall

[2013-05-20 06:13] mmetcalfe opened #31 "Extend Configurable objects to allow a set of dependent paths"
A configurable object may only need to subscribe to changes in small sets of parameters stored in separate parts of the config tree.

Currently, the Configurable object would be forced to subscribe to all changes below some mutual ancestor of the parameters it needs (which, in the worst case, is the root node), causing it to be updated unnecessarily often (every time any parameter is changed, in t

[2013-05-20 13:08] BrendanAnnable commented on #6
Further investigation appears to indicate the robot doesn't infact slow the CPU (even though it makes an audible change).

Ubuntu believes the robot is not on battery even when unplugged, and CPU performance tests reveal almost exactly the same numbers.

Results:

**sudo upower -d**

Device: /org/freedesktop/UPower/devices/line_power_ADP1
  native-path:          /sys/devices/LNXSYSTM:00/device:00/

[2013-05-20 13:09] #6 closed, assigned to nobody

[2013-05-21 21:41] josiahw commented on #24
Fixed.

[2013-05-21 21:41] #24 closed, assigned to shannonfenn

[2013-05-24 00:30] mmetcalfe commented on #16
Wrote a method to more clearly print the tracks + phases in a `WalkingEngineKick` on Wednesday.
Used it yesterday to have a look at what the kicks looked like right after loading them.
There were a bunch of values that looked uninitialized, all of which were `Value::value`. Adding an initializer to `Value`'s constructor that set it's `value` to 0 fixed this, and changed the robots behaviour (it so

[2013-05-24 03:13] josiahw opened #32 "Segfault when running soccer mode on develop"
This is a bit of a phantom issue that I can't reproduce very easily so I don't have a gdb dump of it yet. Everyone watch out for hte phantom segfaults!

[2013-05-26 09:41] josiahw opened #33 "Fix KickScripts"
fix up our scripts so we can script using IK to make balance easier.

[2013-05-26 09:42] josiahw commented on #16
Pushing this back to 2014 so we can have working kicks now.

[2013-05-26 09:43] josiahw commented on #19
We need to do #4 and #2 this week.

[2013-05-26 09:44] josiahw commented on #18
Changing priority on this, moving it forward.

[2013-05-26 09:45] josiahw commented on #23
Moved forward so we can do some behaviour testing.

[2013-05-26 11:18] mmetcalfe opened #34 "Review NUData and NUActionatorsData"
These classes kind of bloated. There's a fair bit I'm not too fond of here.
(a bunch of stuff about the Actionators in general looks a little questionable at the moment)

I feel that we should review these classes after Robocup, and look into making them neater and clearer.

[2013-05-26 11:22] josiahw commented on #34
Sounds good. The SENG FYP guys arelooking at re-factoring our code after robocup (to include their new data/message passing system). We should work with them to remove as much crap as possible.

[2013-05-29 04:33] BrendanAnnable opened #35 "#3 Motor Offsets"
Robot 3 will now run the binary fine, however there it something wrong with at least 1 motor in his left leg.

The torque is on, but the leg is at a completely wrong angle (probably ~30-40 degrees out), suggesting that the motor offsets are wrong?

The rest of him seems to function perfectly fine.

[2013-05-29 07:54] mmetcalfe commented on #35
I'm not really sure how to set motor offsets.
I'll try to have a look tonight, though.

[2013-05-29 12:09] WongAaronSW commented on #35
Try the Dynamixel motor viewer (Roboplus Manager). You'll need to use that USB to TTL converter to talk to the motor directly.
Otherwise you can fudge the angles in the interface file (Joint Mappings) in the NUPlatform/Platforms/Darwin to test your theory.

Regards,
Aaron Wong

Date: Wed, 29 May 2013 00:54:25 -0700
From: notifications@github.com
To: robocup@noreply.github.com
Subject: Re: [robocup

[2013-05-30 11:27] mmetcalfe opened #36 "Robots are too quiet"
The speaker volume should be set to maximum at startup.

[2013-05-31 02:09] josiahw opened #37 "Find robust improvements for RANSAC"
Our RANSAC implementation is amazingly good at what it does, and we should capitalize on it by continuing to improve it in various ways. List any ideas you have on this issue, as it will help us in our search for better ways of doing RANSAC type stuff.

One paper I came across that looks like it could be useful is this one:
http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.134.4816
It alread

[2013-06-05 08:53] mmetcalfe opened #38 "Robots track ball incorrectly"
The robots tend to keep the ball at the very edge of their view when they're trying to look at it.
(This is thought to be caused by a change in the way that localization reports the ball position)

The robot should keep the ball centered horizontally within it's view when it is attempting to track it.

[2013-06-05 09:04] josiahw commented on #38
I think this is assigned in the head jobs.

[2013-06-05 10:06] mmetcalfe opened #39 "Robots 5 and 6 are slow and jittery when they move"
The firmware on robots 5 and 6 have had their firmware updated/downgraded - but don't work correctly.

[2013-06-05 10:14] StevenNicklin commented on #38
The tracking shouldn't have anything to do with the localisation. In the past the head tracking used a variable in the field objects that contained the raw angle from the center of the screen to the center of the ball in image coordinates set by vision: ScreenXTheta() and ScreenYTheta(). The tracking part aimed to get this value to zero i.e. the ball center in the center of the image.

It was done

[2013-06-06 02:04] josiahw commented on #33
The ScriptedKick class needs to be checked for correctness so it handles behaviours properly. The new behaviour will try to call it continuously while in striker mode, so it is the job of the kick to let the movement manager know that it cannot yet kick (ie the ball is outside the kickbox). I think this currently happens, but occasionally we get strange behaviour.

[2013-06-06 05:11] shannonfenn commented on #38
As far as the way Vision is reporting it I'll check that while making the changes necessary for the new distance to point calcs.

[2013-06-06 06:17] #39 closed, assigned to nobody

[2013-06-06 06:19] Jade-Fountain opened #40 "Robots 5 and 6 have no sound."

[2013-06-06 06:21] Jade-Fountain opened #41 "Robot 5 needs to have its aplay issue solved, as Robot 6 did."

[2013-06-06 06:58] Jade-Fountain commented on #38
Had a quick dig around for this. I think it is probably whatever Vector2<float>(m_location.angular.x, m_location.angular.y) is in ball.cpp. about line 65. This is what screenThetaX() screenThetaY() evaluate to.

[2013-06-06 07:37] WongAaronSW commented on #38
If this helps:
Old Calculation for ScreenXThetadouble Vision::CalculateBearing(double cx){    double FOVx = deg2rad(46.40f); return atan( (currentImage->getWidth()/2-cx) / ( (currentImage->getWidth()/2) / (tan(FOVx/2.0)) ) );}

Old Calculation for ScreenYThetadouble Vision::CalculateElevation(double cy){    double FOVy = deg2rad(34.80f);return atan( (currentImage->getHeight()/2-cy) / ( (currentIma

[2013-06-06 08:20] mmetcalfe opened #42 "The configuration of Robot 1 should be copied to the other robots"
Changes have been made to Robot 1's configuration that have improved its performance.
The other robots need to have the newer configuration.

The robots configuration should be put under source control.

[2013-06-06 08:25] shannonfenn commented on #42
What configuration? The standard configuration folders are part of the repository and can be copied onto the robots using make DarwinConfigInstall (though I'm not sure if that script copies the entire contents of the folder or just known config files - in which case it would need an update)

[2013-06-06 08:45] shannonfenn commented on #38
Ok so the issue is that in the develop branch there is still the inclusion of the head angles into the camera bearing and elevation, this has already been removed in the branch I am working on so I'll close the issue for now.

[2013-06-06 08:45] #38 closed, assigned to shannonfenn

[2013-06-06 08:59] josiahw commented on #42
the robots' configuration is under source control. Check robocup/Config -
that's the default configuration files. Add #1's changes there and then do
make DarwinConfigInstall with the latest repository

On Thu, Jun 6, 2013 at 6:20 PM, Mitchell notifications@github.com wrote:

[2013-06-06 11:45] mmetcalfe commented on #33
The angle comparisons in ScriptKick::kickToPoint look dodgy, which could be causing the strange behaviour.
I'll look into improving the SckriptKick class over the weekend.

[2013-06-07 00:26] Jade-Fountain opened #43 "Robot 1 is crashing whenever code is run"
error.log

DarwinCamera::loadCameraOffset(). Unable to load camera offset.
ColourTransitionRule istream operator: UNKOWN_COLOUR match ignored.
NUCameraData::LoadFromConfigFile(). Unable to load camera specifications.
TERMINATION HANDLER: SIGSEGV
./nubotbin(_ZN5NUbot18terminationHandlerEi+0xbf) [0x80cc8af]
[0xb7751400]
./nubotbin(_ZN5Robot17SensorReadManager24FilterLimbSensorFailuresERSt6vectorIiS$

[2013-06-07 00:30] Jade-Fountain commented on #43
Also when the robot falls it freezes and connection is lost. The robot does not crash completely though, only a reconnection is required to rerun the code.

[2013-06-07 00:39] shannonfenn opened #44 "Objects sent to unbugger need more visual information."
We now have more complicated shapes detected by vision but the fieldobjects classes only handle basic descriptors (screen point and size) making displaying exactly what vision outputs difficult for the UNbugger.

[2013-06-07 00:58] josiahw commented on #43
the robot's antenna could be loose? Also the camera stuff looks like maybe
we should have a reset check for cameras on lost connection in the new
camera class.

On Fri, Jun 7, 2013 at 10:30 AM, Jake Fountain notifications@github.comwrote:

[2013-06-07 01:05] shannonfenn opened #45 "Better distance methods for vision are required."
This includes multiple things:
- Width based measurements are about to be disabled until I get the new transformer class up and running fully leaving us only distance to point.
- In many cases the base of the goal cannot be seen, in these cases a width measurement is more accurate as 90% of that time the goal is fairly large in the screen.
- In the even that both the base and the side are obscured

[2013-06-07 01:06] shannonfenn opened #46 "Goal detection needs better base location."
The base of the goal is quite jittery. After detecting a goal, vision should look at the base at pixel level to determine a better base position.

[2013-06-07 05:56] shannonfenn commented on #38
To clarify so everyone knows what the issue was:

There are multiple values associated with a field object that vision reports including screen location and size, camera relative bearing and elevation, neck relative 3D position (radial) and a few variances (not used).

As Steve said the robot uses the camera relative angular position to quickly move the ball to the centre of the image and this val

[2013-06-07 06:51] shannonfenn opened #47 "Need cleaner removal checks - currently in RobocupHacks"
This is not urgent as the checks that are being done are valid (i.e. balls that are inside the quadrilateral found for a goal are being removed) but this should be done in a cleaner way, perhaps a post processing method that considers all detected object types as a collective rather than purely finding each one individually.

[2013-06-07 08:32] josiahw commented on #47
Maybe a good way to do it would be add a filter call at the end of vision which removes ridiculous objects?

Sent from my iPad

On 07/06/2013, at 4:51 PM, Shannon Fenn notifications@github.com wrote:

[2013-06-07 11:12] shannonfenn commented on #47
Probably, it essentially needs to be another small stage. Objects that are rediculous in and of themselves are removed during the detection process, but there also needs to be consideration for object type combinations that are rediculous, for example balls that are between the edges but above the base of a goal post etc.

[2013-06-10 09:39] shannonfenn opened #48 "NUView segfaults on calls to glCallList"
This may only be a personal issue, or only an issue for a few people but it renders nuview unusable and is terribly difficult to find information on.

[2013-06-10 11:13] shannonfenn commented on #48
I installed freeglut3-dev, I had assumed Mesa provided the necessary OpenGL windowing API but I was wrong. Any ideas why I had no linker errors prior to this but only a segfault on certain opengl calls?

[2013-06-10 11:13] #48 closed, assigned to shannonfenn

[2013-06-10 11:17] shannonfenn opened #49 "We need a more compressed (but lossless) way of saving images for off-robot logging."
Currently the image storage is in raw binary format, which costs us 307200 bytes per frame leading to very large images. We should implement some form of lossless compression when we move to off-robot logging as per Brendan and Jo's plan.

[2013-06-10 11:20] shannonfenn opened #50 "Ball detection needs improving."
Currently even given a perfectly classified ball the detection method can fail to correctly fit the bottom - this is a big issue as this leads to large errors in distance calculations.

[2013-06-10 11:28] shannonfenn commented on #50
There is a possibility it is just a rendering issue.

[2013-06-10 11:46] josiahw commented on #49
PNG?

On Mon, Jun 10, 2013 at 9:17 PM, Shannon Fenn notifications@github.comwrote:

[2013-06-10 15:20] BrendanAnnable opened #51 "ColourSegments Vectors on Blackboard are Empty"
Just iterating through them, they seem to empty, example code (note: no errors, just empty):

http://pastie.org/8030754

Edit: in soccer playing mode.

[2013-06-11 02:30] josiahw opened #52 "Arc Width not set on all visible objects"
Last year we used a value Arc Width (angular width of the object in radians) to help with obstacle avoidance by estimating our minimum turn directly from the width of the object. This was added to AmbiguousObject. For more general use I have moved this to Obstacle, and will now need to be set for other objects (eg goalposts).

[2013-06-11 12:41] BrendanAnnable opened #53 "Robot #1 Crashes/Reboots?"
I think there might be a short or something, when robot 1 is moved around he often crashes and reboots.

Doesn't turn off, just does a hard reset and boots up again...?

Unsure.

[2013-06-11 12:43] josiahw commented on #53
sounds like loose power connectors, we should check out his chest and then
refer him to Peter.

On Tue, Jun 11, 2013 at 10:41 PM, Brendan Annable
notifications@github.comwrote:

[2013-06-12 02:16] josiahw opened #54 "fix merge conflicts with MergeLocChanges and develop"
you updated our everything, so fix all the issues :-P

[2013-06-12 02:17] shannonfenn commented on #54
Haha, some of the issues are due to behaviour being changed in both branches too.

[2013-06-12 02:37] josiahw commented on #51
is this fixed?

[2013-06-12 02:37] josiahw commented on #23
Done. Post bugs as bugs are noticed.

[2013-06-12 02:37] #23 closed, assigned to josiahw

[2013-06-12 02:38] josiahw commented on #18
I think we can close this.

[2013-06-12 02:38] #18 closed, assigned to Jade-Fountain

[2013-06-12 02:38] josiahw commented on #19
done.

[2013-06-12 02:38] #19 closed, assigned to BrendanAnnable

[2013-06-12 02:39] josiahw commented on #22
Seems to be done.

[2013-06-12 02:39] #22 closed, assigned to shannonfenn

[2013-06-12 02:39] josiahw commented on #40
is this fixed?

[2013-06-12 02:40] josiahw commented on #17
moving to post-robocup

[2013-06-12 02:46] #51 closed, assigned to shannonfenn

[2013-06-12 08:50] BrendanAnnable commented on #40
I'll test again when they come back.

[2013-06-12 18:27] BrendanAnnable commented on #54
Conflicts resolved and merged into develop, confirmed as compiling and running.

MergeLocChanges remains untouched.

[2013-06-12 18:27] #54 closed, assigned to BrendanAnnable

[2013-06-13 04:48] josiahw opened #55 "Segment Filters occasionally blows out vision processing"
especially with badly classified areas. This slowdown is visible via NUbugger.

[2013-06-13 05:59] josiahw opened #56 "we lost our goals"
they do not appear anywhere, despite very good lookup tables.

[2013-06-13 06:06] josiahw opened #57 "field lines become obstacles when looking down"
this is only an issue when looking so far down that field lines go off the top of the screen.

[2013-06-13 09:47] shannonfenn commented on #55
How was this determined to be the segment filters? And is it the application of the replacement or the transition rules?

[2013-06-13 09:49] shannonfenn commented on #57
Yeah this has been known as a problem since the method was first implemented - problem is that I can't think of a fix that won't cause white robots etc. to be unseen as obstacles.

[2013-06-13 09:52] josiahw commented on #55
using the profiling tools you included in vision. All other things maintain
their approximate time usage, but segment filters can make processing time
massive occasionally. We observed a drop to maybe less than 15fps when
focusing on angles which were not well classified and had a lot of noise in
the classification.

On Thu, Jun 13, 2013 at 7:47 PM, Shannon Fenn notifications@github.comwrote:

[2013-06-13 09:53] josiahw commented on #57
when we are looking below a certain angle, ignore obstacles?

On Thu, Jun 13, 2013 at 7:49 PM, Shannon Fenn notifications@github.comwrote:

[2013-06-13 09:59] shannonfenn commented on #55
Cool, I'll recheck the profiling stuff and make sure it's not another section of vision sneaking in there, if so I'll find some noisy images and check what the filters are doing.

[2013-06-13 10:01] shannonfenn commented on #57
Not a complete solution, there are angles at which the lines are still obstacles, but which we still need to see obstacles for avoidance. I'll put this method in for robocup though.

[2013-06-13 11:00] StevenNicklin commented on #57
You may be able to use the fact that the lines are white and most of the real obstacles are not to help filter these cases.

[2013-06-13 12:45] shannonfenn commented on #57
"Robots may also be colored in aluminimum-like silver, grey or white"

[2013-06-13 12:50] josiahw commented on #57
however with the exception of 1 team last year, they were not :)

On Thu, Jun 13, 2013 at 10:45 PM, Shannon Fenn notifications@github.comwrote:

[2013-06-13 13:38] shannonfenn commented on #57
Yeah I just don't want to disable our ability to see them as obstacles for the rare occasion when we see a line that occurs as one - when something like a head angle check might reduce this occurrence to low enough not to be an issue.

[2013-06-13 16:55] BrendanAnnable opened #58 "Be Ronaldinho"
http://www.youtube.com/watch?v=rZFi6NwF1IU

;-)

[2013-06-13 23:52] shannonfenn commented on #56
Problem with std::abs vs abs causing line angles to be cast to integers.

[2013-06-13 23:52] #56 closed, assigned to shannonfenn

[2013-06-14 00:32] BrendanAnnable opened #59 "Check Boot Fix is on all Robots"
sudo nano /etc/default/grub
# uncomment GRUB_HIDDEN_TIMEOUT=0
# GRUB_HIDDEN_TIMEOUT_QUIET=false
# insert: GRUB_RECORDFAIL_TIMEOUT=10

sudo update-grub

[2013-06-14 01:39] josiahw opened #60 "Robot resets to goalkeeper position when picked up"
this causes localisation to have fits. Can we assume penalised/start position instead?

[2013-06-14 01:43] josiahw opened #61 "Localisation generates too many models when seeing both goals"
Once some models are in the right position, can we refrain from generating similar new models?

[2013-06-14 01:50] josiahw opened #62 "Localisation fails to throw out wrong-side-of-field goalposts"
This creates symmetric localisation problems. Is there a way to throw out wrong direction models based on error before they get dragged into symmetric positions?

[2013-06-14 02:15] shannonfenn opened #63 "Do ball voting whenever localisation has models on both sides of the field to cull the models."

[2013-06-14 05:19] josiahw commented on #63
we need to reduce the symmetry of localisation first, otherwise all robots
will be confused no matter when they ball vote.

On Fri, Jun 14, 2013 at 12:15 PM, Shannon Fenn notifications@github.comwrote:

[2013-06-15 05:14] josiahw commented on #62
We have been testing the new behaviour and can confirm that this issue is bad enough to drag the robot to the wrong end of the field while stationary (ie we can't position ourselves sometimes). I think we need very tight throw out checks on goalposts as our distance estimates look like they're a bit all over the place.

[2013-06-15 05:15] josiahw commented on #62
we can still use bearing information for these objects as this isn't so noisy, but we definitely need to be cautious about distances

[2013-06-15 05:16] josiahw commented on #60
robot also starts from the goalbox when going from initial to ready, which screws up localisation majorly on game-start.

[2013-06-15 05:19] josiahw opened #64 "localisation fails to adapt to visual features quickly"
We are seeing localisation driven by odometry rather than vision even though the robot is clearly lost. We need to improve the vision based changes (trust bearings at least)

[2013-06-15 05:19] josiahw commented on #61
this is apparently cause by bad starting localisation, as noted in another issue. It's quite good and doesn't need to be changed.

[2013-06-15 05:19] #61 closed, assigned to StevenNicklin

[2013-06-16 06:25] josiahw opened #65 "Odometry forward motion is 25% of actual motion"
We suspect forward motion is being ignored somehow in the model. Forward motion also causes a curve to the right which is not detected.

[2013-06-16 06:35] josiahw opened #66 "New Orientation Filter frequently faisl to detect falls"
Can we either tweak this, or have a second slower way of detecting it (ie accelerometer) so that it is more reliable?

[2013-06-16 12:01] StevenNicklin commented on #60
Which state are you picking them up in?

[2013-06-16 12:15] StevenNicklin commented on #60
Also are you sure that the robots are labeled properly so that they know which player they are?  The only time they should be put only at the goalkeeper spot is if they are picked up in the set state and are set as a goalkeeper. In this case they are positioned according to the manual positioning rules.

[2013-06-16 12:27] StevenNicklin commented on #62
Are you talking about symmetry on opposite halves of the field or on either side of the same half?

[2013-06-16 12:32] josiahw commented on #60
play state. No robot should ever reset to goalkeeper position in play state.

On Sun, Jun 16, 2013 at 10:15 PM, snicklin notifications@github.com wrote:

[2013-06-16 12:32] josiahw commented on #62
opposite halves.

On Sun, Jun 16, 2013 at 10:27 PM, snicklin notifications@github.com wrote:

[2013-06-18 04:10] BrendanAnnable opened #67 "SensorReadManager Segfault"
darwin@darwin4:~$ sudo ./darwinNUbotStart
[sudo] password for darwin:
ConfigStorageManager::loadConfig(...): ConfigurationFiles/defaultConfig.json: cannot open file
ConfigManager::ConfigManager(std::string): Could not load configuration 'defaultConfig'.
RLAgent::loadAgent - RLAgent loaded successfully.HeadBehaviour::HeadBehaviour():Mrlagent() - agent loaded successfully.
 x_min_right_forward = 5

[2013-06-18 09:41] mmetcalfe opened #68 "SensorReadManager's error reporting segfaults when the FSRs are disconnected"
The error filtering methods should be made a little smarter.

[2013-06-18 10:40] BrendanAnnable commented on #35
This is now fixed I believe?

[2013-06-19 22:25] #35 closed, assigned to nobody

[2013-06-25 06:17] BrendanAnnable commented on #36
Fixed

[2013-06-25 06:17] #36 closed, assigned to BrendanAnnable

[2013-06-25 06:18] BrendanAnnable commented on #21
Fixed! HOORAY!

[2013-06-25 06:18] #21 closed, assigned to madiflannery

[2013-07-25 00:37] mmetcalfe opened #69 "Update the Script Tuner's `help` command."
Typing `help` within the script tuner is supposed to print a brief summary of available commands.
The current help output isn't very helpful.
It should be updated to include a complete command summary (minimally, just command names and parameters - but preferably also a brief description of each command).

Consider implementing a `help` and a `longhelp` command (or similar) to show just the comman

[2013-07-27 00:49] BrendanAnnable opened #70 "Demo code does not compile"
Linker errors (can't find pthread or libjpeg) prevent the demo code from compiling, even though both are installed and in the linker flags.

[2013-08-05 01:41] Jade-Fountain opened #71 "Run on Boot Crashing (#5)"
Robot 5 crashes when the code runs on boot after a minute or two. This doesn't happen when the code is started manually.

[2013-08-05 01:43] Jade-Fountain opened #72 "Config system errors at startup from script loading"
This should perhaps be fixed, but it isn't urgent. It might get in the way of other start-up error reporting.

Example:

ConfigTree::getParam(...): ACCESS ERROR:No such node (motion.scripts.SideKickRight.frame_10.joint_5.gain)
ConfigTree::getParam(...): ACCESS ERROR:No such node (motion.scripts.SideKickRight.frame_10.joint_6.position)
ConfigTree::getParam(...): ACCESS ERROR:No such node (motion.sc

[2013-08-07 12:00] mmetcalfe commented on #72
These should definitely go away.
I'm planning on revisiting the Config System once i get this testing stuff set up, but i'll probably look into fixing these messages sooner.

[2013-08-07 12:02] josiahw commented on #72
Good to talk to Trent about your thoughts for changes, as it is one their list for porting soonish :-)

Sent from my iPad

On 07/08/2013, at 10:00 PM, Mitchell notifications@github.com wrote:

[2013-08-08 04:16] Jade-Fountain commented on #71
Number 3 also has this issue sometimes.

[2013-08-08 11:18] mmetcalfe commented on #72
My main goal for the Config System rewrite was to make it more flexible and extensible by making it far more object oriented through use of the [Visitor Pattern](http://en.wikipedia.org/wiki/Visitor_pattern).
I started a gist (here: https://gist.github.com/mitchellmetcalfe/5955226) to test out how the code would look, and am happy with it so far (although, obviously, it's in the very early stages)

[2013-08-08 11:22] mmetcalfe commented on #72
Obviously, issues #8, #29, #30, and #31 should also be fixed - but they're less urgent.

[2016-09-27 14:14] #8 closed, assigned to mmetcalfe

[2016-09-27 14:14] #25 closed, assigned to nobody

[2016-09-27 14:14] #29 closed, assigned to mmetcalfe

[2016-09-27 14:14] #30 closed, assigned to mmetcalfe

[2016-09-27 14:14] #31 closed, assigned to nobody

[2016-09-27 14:15] #34 closed, assigned to nobody

[2016-09-27 14:15] #42 closed, assigned to nobody

[2016-09-27 14:16] #68 closed, assigned to mmetcalfe

[2016-09-27 14:16] #69 closed, assigned to nobody

[2016-10-12 05:01] #28 closed, assigned to madiflannery

[2017-01-12 22:13] #70 closed, assigned to BrendanAnnable

[2017-01-12 22:13] #67 closed, assigned to mmetcalfe

[2017-01-12 22:14] #59 closed, assigned to BrendanAnnable

[2017-01-12 22:14] #58 closed, assigned to nobody

[2017-01-12 22:14] #53 closed, assigned to nobody

[2017-01-12 22:14] #15 closed, assigned to nobody

[2017-01-12 22:14] #10 closed, assigned to nobody